@charset "UTF-8";
.myButton {
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	margin: 5px 10px;
}
.myButton:hover {
	background-color:#eaeaea;
}
.myButton:active {
	position:relative;
	top:1px;
}

.submit-btn {
	border-radius: 12px;
	background-color: #0156FF;
  color: #fff;
  padding: 8px 15px;
  border: none;
}

/* 가영님꺼 */

/* .myButton { */
/* 	box-shadow:inset 0px 1px 0px 0px #dcecfb; */
/* 	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%); */
/* 	background-color:#bddbfa; */
/* 	border-radius:6px; */
/* 	border:1px solid #84bbf3; */
/* 	display:inline-block; */
/* 	cursor:pointer; */
/* 	color:#ffffff; */
/* 	font-family:Arial; */
/* 	font-size:15px; */
/* 	font-weight:bold; */
/* 	padding:6px 24px; */
/* 	text-decoration:none; */
/* 	text-shadow:0px 1px 0px #528ecc; */
/* 	margin: 5px 10px; */
/* } */
/* .myButton:hover { */
/* 	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%); */
/* 	background-color:#80b5ea; */
/* } */
/* .myButton:active { */
/* 	position:relative; */
/* 	top:1px; */
/* } */