.submit-btn {
	border-radius: 12px;
	background-color: #0156FF;
  color: #fff;
  padding: 8px 15px;
  border: none;
}

.border-btn {
	border-radius: 12px;
	background-color: #fff;
  padding: 8px 15px;
  border: 3px solid #0156FF;
}

.page-num.active a {
	padding: 5px 10px;
	border-radius: 50%;
	background-color: blue;
	color: #fff;
}